* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: lavender;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}

header h1 {
    background-color: lightblue;
    color: black;
    font-weight: 400;
    letter-spacing: 0.2em;
    word-spacing: 0.3em;
    padding: 2px;

}

header img {
    width: 10%;
    border-radius: 8em;
    position: static;
}

main {
    max-width: 80%;
    margin: 0 auto;
}

h2{
    font-size: 20px;
    padding: 7px 32px;
    font-weight: 400;
    background-color: lightblue;
    color: black;
}

ul, dl{
    margin: 20px;
    font-size: 17px;
    line-height: 30px
}

li, dt, dd{

    line-height: 24px;
}

dd{
    color: #051e2e;
    font-weight: 400;
}
span{
    color: darkblue;

}

section {
    display: inline-block;
    width: 320px;
    border: 10px solid gray;
    margin: 0;

}

footer {
    text-align: center;
    background-color: rgba(132, 160, 95, 0.787);
}